%section.user.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %img
            = gravatar_for(@user)
          %h2
            = @user.full_name + ' has ' + pluralize(@user.queue_items.count, 'video') + ' queued'
          = link_to 'Follow', relationships_path(leader_id: @user.id), method: :post, class: 'btn btn-default' if current_user.can_follow?(@user)
        %table.table
          %thead
            %tr
              %th(width="30%") Video Title
              %th(width="15%") Genre
          %tbody
            - @user.queue_items.each do |queue_item|
              %tr
                %td
                  = link_to queue_item.video_title, video_path(queue_item.video)
                %td
                  - queue_item.categories.each do |category|
                    = link_to category.name, category_path(category)

%section.user_reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h3
          = @user.full_name + ' has reviewed ' + pluralize(@user.reviews.count, 'videos') + ' and given an average rating of ' + @user.average_rating.to_s
      %ul
        - @user.reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %p
                  = link_to review.video.title, video_path(review.video)
                %col
                  = "Rating: #{review.rating} / 5"
              .col-sm-8
                %p
                  = review.body
