
%article.video_category
  %header
    %h3= link_to "TV Commedies"
  .videos.row
    - if !@videos.nil?
      - @videos.each do |video|
        .video.col-sm-2
          = link_to "", nil do
            %img{ src: "/assets/images/poster_small_url/#{video.poster_small_url}" }

%article.video_category
  %header
    %h3= link_to "TV Dramas"
  .videos.row
    - if !@videos.nil?
      - @videos.each do |video|
        .video.col-sm-2
          = link_to "", nil do
            %img{ src: "/assets/images/poster_small_url/#{video.poster_small_url}" }

%article.video_category
  %header
    %h3= link_to "Reality TV"
  .videos.row
    - if !@videos.nil?
      - @videos.each do |video|
        .video.col-sm-2
          = link_to "", nil do
            %img{ src: "/assets/images/poster_small_url/#{video.poster_small_url}" }
