
= bootstrap_form_for [@video, Review.new] do |f|
  %fieldset
    .form-group
      %label Rate this video
      .row
        .col-sm-3
          = f.select :rating, options_for_rating_select, hide_label: true
    .form-group
      %label Write Review
      .row
        .col-sm-8
          = f.text_area :body, hide_label: true, rows: 6, class: 'span6'
  %fieldset.form-group.actions.clearfix
    = f.submit 'Submit'
    = link_to 'Cancel', @video
