
%section.admin_add_video.container
  .row
    .col-md-10.col-md-offset-1
      %fieldset
        = bootstrap_nested_form_for [:admin, @video], multipart: true, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-6', class: '' do |f|
          %ul.nav.nav-tabs
            %li
              %a(href="#") Recent Payments
            %li.active
              %a(href="") Add a New Video
          %br
          = f.text_field :title
          = f.text_area :description, rows: 8, class: 'span6'

          = f.fields_for :video_categories, label: 'Categories' do |vcf|
            = vcf.select :category_id, options_for_select(Category.all.map { |category| [category.name, category.id] })

          = image_tag(@video.small_cover_url) if @video.small_cover?
          = f.file_field :small_cover
          = f.hidden_field :small_cover_cache

          = image_tag(@video.large_cover_url) if @video.large_cover?
          = f.file_field :large_cover
          = f.hidden_field :large_cover_cache

          %fieldset
            = f.form_group do
              = f.submit 'Add Video', class: 'btn btn-default'
