
%section.admin_add_video.container
  .row
    .col-md-10.col-md-offset-1
      %fieldset
        = bootstrap_form_for [:admin, @video], html: { layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-6', class: '' } do |f|
          %ul.nav.nav-tabs
            %li
              %a(href="#") Recent Payments
            %li.active
              %a(href="") Add a New Video
          %br
          = f.text_field :title
          = f.select :category_id, options_for_select(Category.all.map { |category| [category.name, category.id] })
          = f.text_area :description, rows: 8, class: 'span6'

          .form-group
            %label.control-label.col-sm-3 Large Cover
            .col-sm-6
              %col.btn.btn-file
                %input.form-control(type="file")
          .form-group
            %label.control-label.col-sm-3 Small Cover
            .col-sm-6
              %col.btn.btn-file
                %input.form-control(type="file")

          %fieldset
            = f.form_group do
              = f.submit 'Add Video', class: 'btn btn-default'
